.fundo{
    background-color: bisque;
}

.fundo-input{
    background-color: blanchedalmond;
}

.carrousel-container{
    max-width:100%;
    width:85%;
}

.carrousel-images{
    max-width:100%;
    height: 500px;
    max-height: 100%;
}