<h3 class="mt-5">Login</h3>
<div class="card fundo">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">E-mail:</label>
                <input type="email" name="email" class="form-control fundo-input">
                
            <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control fundo-input">

            <button type="submit" class="btn btn-success mt-4">Entrar</button>
        </form>
    </div>
</div>